.container {
  max-width: var(--contentMaxWidth);
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  z-index: 0;
}

.container::before {
  content: "";
  height: 400px;
  width: 400px;
  position: fixed;
  left: -200px;
  top: 100px;
  background: url("/images/elipse.png");
  background-size: cover;
  z-index: -1;
}

.container::after {
  content: "";
  height: 400px;
  width: 400px;
  position: fixed;
  top: 0;
  right: -200px;
  background: url("/images/elipse.png");
  background-size: cover;
  z-index: -1;
}

.wrapper {
  position: relative;
}

@media screen and (min-width: 73rem) {
  .container {
    padding: 0;
  }

  .container:after {
    height: 700px;
    width: 700px;
    right: -300px;
  }

  .container:before {
    height: 700px;
    width: 700px;
    left: -350px;
  }
}
