.post {
  @apply text-lg leading-relaxed text-white max-w-3xl mx-2 sm:mx-6 md:mx-auto;
}

.post p,
.post ul,
.post ol {
  @apply my-6;
}

.post a {
  color: #c53b8e;
  transition: 0.3s ease-in-out all;
  background-color: #c53b8e;
  background-image: linear-gradient(#c53b8e, #fe5f3d);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  border-bottom: 2px solid #fe5f3d;
}

.post h2 {
  @apply text-3xl mt-12 mb-4 leading-snug font-semibold;
}

.post h3 {
  @apply text-2xl mt-8 mb-4 leading-snug font-medium;
}

.post ul > li {
  @apply list-disc list-inside;
}

.post ol > li {
  @apply list-decimal list-inside;
}

.post blockquote {
  backdrop-filter: blur(14px);
  @apply bg-gray-600 bg-opacity-25 py-2 px-6 border-l-4 border-gray-200 leading-snug font-medium text-xl rounded-r;
}

.post code {
  backdrop-filter: blur(14px);
  @apply block bg-gray-600 bg-opacity-25 p-6 rounded overflow-y-scroll;
}

.post i > code {
  @apply inline p-1;
}

.post pre > code {
  @apply bg-gray-100 px-6 block;
}
