@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
@layer utilities {
  .blur-background {
    backdrop-filter: blur(14px);
  }

  .blur-background-grey {
    background: rgba(255, 255, 255, 0.2);
  }

  .bg-gradient-fun {
    background: linear-gradient(#c53b8e, #fe5f3d);
  }
}
